{% extends 'app_Senac/base.html' %}
{% load static %}

{% block title %}
    {% if page_title %}{{ page_title }}{% else %}Contato - Senac Cursos Online{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if page_title %}{{ page_title }}{% else %}Entre em Contato{% endif %}</h1>
    <p>Deixe sua mensagem, ou fale conosco através dos canais abaixo.</p>

    <section id="formulario-contato">
        <h2>Deixe sua Mensagem</h2>
        <form method="post" action="{% url 'contato' %}"> {% csrf_token %}
            
            {{ form.as_p }} <button type="submit" class="button-primary mt-2">Enviar Mensagem</button>
        </form>
    </section>

    <section id="outros-contatos" class="mt-3"> <h2>Outras Formas de Contato</h2>
        <p>
            <strong>WhatsApp:</strong> <a href="https://wa.me/5521976658035" target="_blank">Iniciar conversa</a>
        </p>
        <p>
            <strong>E-mail:</strong> <a href="mailto:contato@senacrj.com.br">contato@senacrj.com.br</a>
        </p>
        <p><strong>Localização:</strong></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.2634555267514!2d-43.45324822378223!3d-22.755602132487084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9967a99225f96f%3A0xec20bfc8ff090b46!2sSenac%20Nova%20Igua%C3%A7u!5e0!3m2!1spt-BR!2sbr!4v1748473605305!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
</div>
{% endblock %}